@import "header";
@import "footer";
@import "front-page";

body {
  background-color: $gray-dark;
}

button:focus {
  outline-color: $blue;
}

#content,
.content {
  background-color: $white;
  padding: 1.5rem;
}
