@import "header";
@import "footer";
@import "front-page";
@import "sidebar";
@import "content";
@import "calendar";

@font-face {
  font-family: playlist;
  src: url(../fonts/playlist-script.otf);
}

body {
  background-color: $gray-dark;
}

button:focus {
  outline-color: $blue;
}

.btn {
  text-transform: uppercase;
  min-width: 8rem;
}

input::placeholder {
  text-transform: uppercase;
}

h1 {
  color: $orange;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h2 {
  color: $orange;
  font-size: 1.5rem;
  text-transform: uppercase;
}

h3 {
  color: $orange;
  font-size: 1.25rem;
  text-transform: uppercase;
}
