@import "header";
@import "footer";
@import "front-page";

@font-face {
  font-family: playlist;
  src: url(../fonts/playlist-script.otf);
}

body {
  background-color: $gray-dark;
}

button:focus {
  outline-color: $blue;
}

.btn {
  text-transform: uppercase;
  min-width: 8rem;
}

h1 {
  color: $orange;
  font-size: 1.75rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h3 {
  color: $orange;
  font-size: 1.25rem;
}

#content,
.content {
  background-color: $white;
  padding: 1.5rem;
}

.wp-post-image {
  width: 100%;
}

.mejs-container {
  margin: 1rem 0;
}
