@import "header";
@import "footer";
@import "front-page";

body {
  background-color: $gray-dark;
}

button:focus {
  outline-color: $blue;
}

.btn {
  text-transform: uppercase;
  width: 8rem;
}

#content,
.content {
  background-color: $white;
  padding: 1.5rem;
}
