#primary,
.well {
  background-color: $white;
  padding: 1.5rem;
}

#content {
  .entry-meta {
    display: inline-block;
    margin-bottom: 0.25rem;

    time:not(.entry-date),
    .byline {
      display: none;
    }
  }

  .entry-footer {
    display: none;
  }

  .page,
  .post {
    .wp-post-image {
      &.size-large,
      &.size- {
        width: 100%;
        padding: 0 0 1rem 0;
      }

      &.size-medium {
        width: 50%;
        padding: 0 1rem 1rem 0;
        float: left;
      }
    }
  }

  .page-posts {
    border-top: 2px solid $gray-dark;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
  }

  .wp-video {
    width: 100% !important;
  }

  .mejs-container {
    margin: 1rem 0;
  }

  .wpcf7 {
    max-width: 100%;

    .wpcf7-response-output {
      margin: 0;
    }
  }
}
