body:not(.home) {
  background-image: none !important;
}

body.home {
  &.custom-background {
    background-position: top center;
    background-size: auto 450px;
    background-attachment: inherit;
    background-repeat: no-repeat;
  }

  .wrapper-navbar {
    margin-bottom: 325px;
  }

  @include media-breakpoint-down(md) {
    background-image: none !important;
    .wrapper-navbar {
      margin-bottom: 0;
    }
  }
}

.wrapper-navbar {
  height: 125px;

  @include media-breakpoint-down(md) {
    height: auto;
  }
}

.navbar {
  text-transform: uppercase;
  background: $black;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.4)
  );

  .navbar-brand {
    font-size: 2rem;
    line-height: 1.75rem;

    @include media-breakpoint-down(xs) {
      font-size: 1.7rem;
    }

    .logo {
      $logo-size: 100px;

      @include media-breakpoint-down(xs) {
        $logo-size: 80px;
      }

      width: $logo-size;
      height: $logo-size;
      max-width: $logo-size;
    }

    a {
      color: $navbar-dark-color;

      &:hover {
        text-decoration: none;
      }
    }

    .brand-bold,
    .brand-spaced {
      display: block;
    }

    .brand-bold {
      letter-spacing: 1px;
      font-weight: 700;
    }

    .brand-spaced {
      letter-spacing: 7px;
      font-weight: 300;
    }
  }

  .social {
    a {
      margin-right: 2px;
      color: $navbar-dark-color;
      padding: 0 4px;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }
    }
  }

  #searchform {
    @include media-breakpoint-down(xs) {
      width: 40%;
    }
  }

  .navbar-text {
    font-weight: 500;
  }

  .arrow {
    color: $orange;
    font-size: 41px;
    line-height: 24px;
    padding-left: 8px;

    @include media-breakpoint-down(md) {
      position: relative;
      top: 7px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  #navbar-dropdown {
    @include media-breakpoint-down(md) {
      width: 100%;
      border-top: 2px solid $navbar-dark-color;
    }
  }

  .navbar-nav .nav-item {
    border: 0;

    a {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    &:last-child {
      border-right: 0;
    }

    @include media-breakpoint-up(lg) {
      border-right: 1px solid $orange;
    }

    .dropdown-menu {
      margin-top: 10px;

      .nav-item {
        border: 0;
      }

      @include media-breakpoint-down(md) {
        margin-top: 0;
        padding: 0;
        background-color: transparent;
        border: 0;

        .nav-item a {
          color: $navbar-dark-color !important;
        }
      }
    }
  }
}
