#right-sidebar {
  background-color: $blue;
  padding: 1.5rem;

  @include media-breakpoint-down(sm) {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 2px solid $gray-dark;
  }

  .widget {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    background: $gray-dark;
    margin: auto;
    padding: 0.5rem 1rem;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding: 0.5rem;
      border-bottom: 1px solid $white;

      a {
        color: $navbar-dark-color;

        &:hover {
          color: $navbar-dark-hover-color;
        }
      }
    }
  }
}
