$black: #212529;
$white: #fefefe;
$gray-dark: #4d4d4f;
$gray-light: #d8d8d8;
$blue: #0c5b74;
$orange: #ff8a00;
$shadow: rgba($gray-dark, 0.5) 0 0 20px 3px;

$navbar-dark-color: $white;
$link-hover-color: lighten($blue, 10%);
$link-hover-decoration: none;
