#home-wrapper {
  .highlights {
    display: flex;
    gap: 60px;
    margin: 0 45px;

    .highlight {
      flex-grow: 1;
      border: 10px solid $white;
      padding: 22px;
      text-align: center;
      background-color: $white;
      position: relative;

      &:before {
        content: " ";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid $blue;
      }

      &:hover {
        h2 {
          color: $link-hover-color;
        }

        &:before {
          border-color: $link-hover-color;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
