#home-wrapper {
  @mixin largeTitle() {
    color: $white;
    font-size: 2.5rem;
    margin-bottom: 40px;

    @include media-breakpoint-up(sm) {
      font-size: 3.5rem;
    }
  }

  @mixin smallTitle() {
    color: $gray-light;
    font-size: 1.25rem;
    margin-bottom: 60px;
  }

  @mixin button() {
    display: inline-block;
    font-weight: 600;
    border: 1px solid $white;
    padding: 15px 30px;
    background: $white;
    color: $blue;

    &:hover {
      color: $white;
      background: transparent;
    }
  }

  .banner {
    text-align: center;
    color: $white;
    margin-top: 50px;
    margin-bottom: 120px;

    h1 {
      @include largeTitle();
    }

    h2 {
      @include smallTitle();
    }

    p {
      margin-bottom: 50px;
    }

    .links {
      display: flex;
      justify-content: center;
      gap: 20px;

      @include media-breakpoint-up(sm) {
        gap: 50px;
      }

      a {
        @include button();
      }
    }
  }

  .highlights {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 120px;

    @include media-breakpoint-up(md) {
      gap: 60px;
      flex-direction: row;
    }

    .highlight {
      flex-grow: 1;
      border: 10px solid $white;
      padding: 60px 20px;
      text-align: center;
      background-color: $white;
      position: relative;

      &:before {
        content: " ";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid $blue;
      }

      &:hover {
        h2 {
          color: $link-hover-color;
        }

        &:before {
          border-color: $link-hover-color;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .announcement {
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: right;
    box-shadow: inset 0 0 0 1000px rgba($black, 0.3);

    &:nth-of-type(even) {
      text-align: left;
    }

    h2 {
      @include largeTitle();
    }

    h3 {
      @include smallTitle();
    }

    a.more {
      @include button();
    }
  }
}
