#home-wrapper {
  @mixin largeTitle() {
    color: $white;
    font-size: 2.5rem;
    margin-bottom: 40px;

    @include media-breakpoint-up(sm) {
      font-size: 3.5rem;
    }
  }

  @mixin smallTitle() {
    color: $gray-light;
    font-size: 1.25rem;
    margin-bottom: 60px;
  }

  @mixin button() {
    display: inline-block;
    font-weight: 600;
    border: 1px solid $white;
    padding: 15px 30px;
    background: $white;
    color: $blue;

    &:hover {
      color: $white;
      background: transparent;
    }
  }

  @mixin small-cards() {
    display: flex;
    flex-direction: column;
    max-width: 545px;
    gap: 20px;
    margin: 20px auto;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      max-width: inherit;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 5%;
    }
  }

  .banner {
    text-align: center;
    color: $white;
    margin-top: 50px;
    margin-bottom: 120px;

    h1 {
      @include largeTitle();
    }

    h2 {
      @include smallTitle();
    }

    p {
      margin-bottom: 50px;
    }

    .links {
      display: flex;
      justify-content: center;
      gap: 20px;

      @include media-breakpoint-up(sm) {
        gap: 50px;
      }

      a {
        @include button();
      }
    }
  }

  .highlights {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 120px;

    @include media-breakpoint-up(md) {
      gap: 60px;
      flex-direction: row;
    }

    .highlight {
      flex-grow: 1;
      border: 10px solid $white;
      padding: 60px 20px;
      text-align: center;
      background-color: $white;
      position: relative;

      &:before {
        content: " ";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid $blue;
      }

      &:hover {
        h2 {
          color: $link-hover-color;
        }

        &:before {
          border-color: $link-hover-color;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .small-highlights {
    position: relative;

    .position-wrapper {
      @include small-cards();

      @include media-breakpoint-up(md) {
        position: absolute;
        top: -100px;
      }

      .small-highlight {
        position: relative;
        display: inline-block;
        background-color: $white;
        box-shadow: $shadow;
        border-radius: 10px;

        @include media-breakpoint-up(md) {
          &:nth-child(even) {
            top: -60px;
          }
        }

        img {
          border-radius: 10px 10px 0 0;
        }

        .content {
          padding: 20px;
          color: $gray-dark;

          h3 {
            color: $black;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }

  .announcement {
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: right;
    box-shadow: inset 0 0 0 1000px rgba($black, 0.3);

    &:nth-of-type(even) {
      text-align: left;
    }

    h2 {
      @include largeTitle();
    }

    h3 {
      @include smallTitle();
    }

    a.more {
      @include button();
    }
  }

  .contact {
    background-image: url("../images/cpub_map.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 100px;
    min-height: 700px;

    .contact-info {
      border: 1px solid $gray-light;
      padding: 25px;
      background-color: $white;
      width: 100%;
      box-shadow: $shadow;

      @include media-breakpoint-up(sm) {
        width: 400px;
      }

      h2 {
        color: $black;
      }

      ul {
        padding: 0;
        list-style: none;

        li {
          padding: 15px 0;
          color: $gray-dark;

          &:last-child {
            padding-bottom: 0;
          }

          svg {
            color: $orange;
            margin-right: 10px;
            width: 20px;
            font-size: 20px;
          }
        }
      }
    }
  }

  .connect {
    background-image: url("../images/social_people.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 100px;
    min-height: 750px;

    @include media-breakpoint-up(md) {
      padding-top: 200px;
      padding-bottom: 100px;
    }

    .wpcf7 {
      $input-hight: 38px;

      max-width: initial;
      margin: 0 5% !important;
      padding-bottom: 150px;

      h2 {
        font-size: 2.5rem;
        text-align: center;
        text-transform: none;
      }

      .newsletter-form {
        width: 100%;
        margin: 100px auto 0 auto;

        @include media-breakpoint-up(sm) {
          width: 500px;
        }

        .input-group {
          .wpcf7-form-control-wrap {
            width: 100%;
            flex-basis: 65%;

            @include media-breakpoint-up(sm) {
              flex-basis: 75%;
            }

            input {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;

              &::placeholder {
                text-transform: none;
              }
            }
          }

          .wpcf7-submit {
            flex-basis: 35%;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            max-height: $input-hight;
            text-transform: none;

            @include media-breakpoint-up(sm) {
              flex-basis: 25%;
            }
          }

          .wpcf7-spinner {
            margin: 10px auto 0 auto;
            height: $input-hight;
            min-width: $input-hight;
            border-radius: 100%;

            &::before {
              transform-origin: 14px 14px;
            }
          }
        }

        .newsletter-options {
          display: flex;
          justify-content: flex-start;
          gap: 10px;
          margin: 10px 0;

          label {
            width: initial;
          }
        }
      }

      .wpcf7-response-output {
        margin: 0;
        background-color: $white;
      }
    }

    .social {
      display: none;

      @include media-breakpoint-up(md) {
        @include small-cards();
        height: 180px;
      }

      a {
        width: 25%;
        color: $white;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.facebook {
          background-image: linear-gradient(225deg, #314f8b, #446bb7);
        }

        &.twitter {
          background-image: linear-gradient(225deg, #0f9afb, #1d9bf0);
        }

        &.youtube {
          background-image: linear-gradient(225deg, #dd212d, #f22a35);
        }

        &.instagram {
          background-image: linear-gradient(225deg, #be007e, #faae2d);
        }

        svg {
          font-size: 2.5rem;
        }

        .text {
          text-align: right;
        }
      }
    }
  }
}
