body {
  &:not(.home) {
    background-image: none !important;
  }

  &.home.custom-background {
    background-position: top center;
    background-attachment: inherit;
    background-repeat: no-repeat;
  }

  #page {
    background-image: linear-gradient($blue, transparent);

    .navbar {
      padding-top: 20px;
      padding-bottom: 20px;

      .logo-mobile {
        width: 60px;
      }

      .navbar-toggler {
        border-color: $white;
      }

      #navbar-dropdown {
        & > div {
          width: 100%;
        }

        .navbar-nav {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          text-transform: uppercase;

          .menu-item {
            width: 136px;
            text-align: center;

            &.logo {
              width: 103px;
              margin: 0 20px;
              text-align: center;
              display: none;

              @include media-breakpoint-up(lg) {
                display: block;
              }

              a {
                background-image: url("../images/logo.png");
                background-repeat: no-repeat;
                background-size: 60px;
                background-position: center top;
                color: $white;
                padding-top: 70px;
                font-size: 0.8rem;
                font-weight: 100;

                &::first-line {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
}
