#content .calendar {
  .entry-meta,
  .post-edit-link {
    display: none;
  }

  .simcal-default-calendar-grid {
    .simcal-day {
      color: $black;

      &.simcal-day-void {
        border: 0;
      }

      &.simcal-day-has-events {
        > div {
          > span:not(.simcal-events-dots) {
            background-color: $blue !important;
          }
        }
      }

      &.simcal-today {
        > div {
          border: 0 !important;

          > span:first-child():not(.simcal-events-dots) {
            background-color: $blue !important;
          }
        }
      }
    }
  }
}

.widget {
  .simcal-default-calendar-list {
    padding: 0;

    .post-edit-link {
      display: none;
    }

    p {
      margin: 0;
    }

    ul.simcal-events {
      margin: 0;
      padding: 0;

      li.simcal-event {
        margin-bottom: 0.5rem;

        .simcal-event-details {
          font-size: 1rem;

          p {
            margin: 0;
          }
        }
      }
    }
  }
}
