#home-wrapper {
  $section-height: 700px;

  @mixin largeTitle() {
    color: $white;
    font-size: 2.5rem;
    margin-bottom: 60px;

    @include media-breakpoint-up(sm) {
      font-size: 3.5rem;
    }
  }

  @mixin smallTitle() {
    color: $gray-light;
    font-size: 1.25rem;
    margin-bottom: 40px;
  }

  @mixin button() {
    display: inline-block;
    font-weight: 600;
    border: 1px solid $white;
    padding: 15px 30px;
    background: $white;
    color: $blue;

    &:hover {
      color: $white;
      background: transparent;
    }
  }

  @mixin small-cards() {
    display: flex;
    flex-direction: column;
    max-width: 545px;
    gap: 20px;
    margin: 20px auto;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      max-width: inherit;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 5%;
    }
  }

  .banner {
    text-align: center;
    color: $white;
    margin-top: 50px;
    margin-bottom: 120px;

    h1 {
      @include largeTitle();
    }

    h2 {
      @include smallTitle();
    }

    p {
      margin-bottom: 50px;
    }

    .links {
      display: flex;
      justify-content: center;
      gap: 20px;

      @include media-breakpoint-up(sm) {
        gap: 50px;
      }

      a {
        @include button();
      }
    }
  }

  .highlights {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 120px;

    @include media-breakpoint-up(md) {
      gap: 60px;
      flex-direction: row;
    }

    .highlight {
      flex-grow: 1;
      border: 10px solid $white;
      padding: 60px 20px;
      text-align: center;
      background-color: $white;
      position: relative;

      &:before {
        content: " ";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid $blue;
      }

      &:hover {
        h2 {
          color: $link-hover-color;
        }

        &:before {
          border-color: $link-hover-color;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .small-highlights {
    position: relative;

    .position-wrapper {
      @include small-cards();

      @include media-breakpoint-up(md) {
        position: absolute;
        top: -100px;
      }

      .small-highlight {
        position: relative;
        display: inline-block;
        background-color: $white;
        box-shadow: $shadow;
        border-radius: 10px;

        @include media-breakpoint-up(md) {
          max-width: 250px;

          &:nth-child(even) {
            top: -60px;
          }
        }

        img {
          border-radius: 10px 10px 0 0;
        }

        .content {
          padding: 20px;
          color: $gray-dark;

          h3 {
            color: $black;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }

  .announcement {
    height: $section-height;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: left;
    box-shadow: inset 0 0 0 1000px rgba($black, 0.3);

    &.right {
      text-align: right;
    }

    h2 {
      @include largeTitle();
    }

    h3 {
      @include smallTitle();
    }

    a.more {
      @include button();
    }
  }

  .contact {
    background-image: url("../images/cpub_map.webp");
    background-repeat: no-repeat;
    background-position: 78% top;
    padding-top: 30px;
    min-height: $section-height;

    @include media-breakpoint-up(lg) {
      padding-top: 100px;
      background-position: 65% top;
    }

    @include media-breakpoint-up(xl) {
      background-position: center top;
    }

    .contact-info {
      border: 1px solid $gray-light;
      padding: 25px;
      background-color: $white;
      width: 100%;
      box-shadow: $shadow;

      @include media-breakpoint-up(sm) {
        width: 400px;
      }

      h2 {
        color: $black;
      }

      ul {
        padding: 0;
        list-style: none;

        li {
          padding: 15px 0;
          color: $gray-dark;

          &:last-child {
            padding-bottom: 0;
          }

          svg {
            color: $orange;
            margin-right: 10px;
            width: 20px;
            font-size: 20px;
          }
        }
      }
    }
  }

  .connect {
    background-image: url("../images/social_people.webp");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 100px;
    min-height: $section-height;

    @include media-breakpoint-up(md) {
      padding-top: 150px;
      padding-bottom: 100px;
    }

    p {
      margin: 0;
    }

    .wpcf7 {
      $input-height: 38px;
      padding-bottom: 125px;

      h2 {
        font-size: 2.5rem;
        text-align: center;
        text-transform: none;
      }

      .newsletter-form {
        width: 100%;
        margin: 100px auto 0 auto;

        @include media-breakpoint-up(sm) {
          width: 500px;
        }

        input::placeholder {
          text-transform: none;
        }

        .name {
          p {
            display: flex;
            gap: 5px;
            margin-bottom: 10px;

            @include media-breakpoint-up(sm) {
              gap: 10px;
            }

            input {
              border-radius: 0;
            }
          }
        }

        .newsletter-options {
          p {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 10px;

            label {
              width: initial;
            }

            input {
              margin-right: 10px;
            }
          }
        }

        .input-group {
          p {
            display: flex;
            width: 100%;
            margin: 0;

            .wpcf7-form-control-wrap {
              width: 100%;

              input {
                border-radius: 0;
              }
            }
            #newsletter-submit {
              flex-basis: 35%;
              border-radius: 0;
              max-height: $input-height;
              text-transform: none;
            }

            .wpcf7-submit {
              display: none;
            }
          }

          .wpcf7-spinner {
            position: absolute;
            bottom: -50px;
            left: calc(50% - 19px);
            margin: auto 0;
            height: $input-height;
            min-width: $input-height;
            border-radius: 100%;

            &::before {
              transform-origin: 14px 14px;
            }
          }
        }
      }

      .wpcf7-response-output {
        width: 100%;
        margin: 10px auto 0 auto;
        background-color: $white;

        @include media-breakpoint-up(sm) {
          width: 500px;
        }
      }
    }

    .social {
      @include small-cards();
      flex-direction: row;
      flex-wrap: wrap;

      @include media-breakpoint-up(md) {
        flex-wrap: nowrap;
      }

      a {
        width: 100%;
        color: $white;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-up(sm) {
          width: 248px;
        }

        &.facebook {
          background-image: linear-gradient(225deg, #314f8b, #446bb7);
        }

        &.twitter {
          background-image: linear-gradient(225deg, #0f9afb, #1d9bf0);
        }

        &.youtube {
          background-image: linear-gradient(225deg, #dd212d, #f22a35);
        }

        &.instagram {
          background-image: linear-gradient(225deg, #be007e, #faae2d);
        }

        svg {
          font-size: 2.5rem;
        }

        .text {
          text-align: right;
        }
      }
    }
  }
}
